body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family:'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #ecfbfc;
  position: relative;
  padding-top: 100px;
  line-height: 3rem;
}

.middle-container {
  margin: 100px 0;
  padding-bottom: 100px;
  line-height: 3rem;
}

.bottom-container {
  margin: 100px 0;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.img-circular {
  height: 25%;
  width: 25%;
}

.code-img {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chili-img {
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.copyright {
   color:  #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-msg {
  width: 50%;
  margin: 40px auto 60px;
}

.btn {
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Montserrat", sans-serif;
	font-size:20px;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}
